.navbar-mobile{
    
}
.navbar-mobile .container{
    
}
.navbar-mobile ul{
    text-align: center;
    margin-top: 60px;
    color: white;
    z-index: 10000;
}
.navbar-mobile ul li{
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 15px;
}
.navbar-mobile ul li a{

}
.navbar-mobile ul li a:hover{
    color: white;
}
